@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cover-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cover-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-content {
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

/* .rounded-image-container {
    margin-right: 30px;
} */

.rounded-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    background-color: #294D61;
    /* Light Gray */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #294D61;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .image-content {
        position: center;
        top: 35%;
        left: 10%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }


    body {
        overflow-x: hidden;
    }

    .nav-container {
        position: relative;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #294D61;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}